<ion-header>
  <ion-navbar>
    <ion-title>
      <a id="home-link" href="/">IGBazar</a>
    </ion-title>

    <div class="sign-in">
      <ion-icon name="log-in"></ion-icon>
      <span>Sign in</span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- MAIN HOME SEARCHBAR -->
  <div class="main-search">
    <h1>Make a quick search</h1>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    <h2>OR</h2>
  </div>

  <!-- MAIN GAME LIST -->
  <div class="games" [ngStyle]="{'min-height': (windowHeight - 387) + 'px'}">
    <h2>Select a game !</h2>
    <div class="game" *ngFor="let game of (gamesObs | async)" (click)="goToMarketGame(game)" [ngStyle]="{'background-image': 'url(' + game.logo + ')'}" scrollTo scrollTargetSelector="#filters">
      <div class="overlay"><span>{{game.name}}</span></div>
    </div>
  </div>

  <!-- FILTER BAR -->
  <div id="filters" class="filters" >
    <h2 *ngIf="selectedGame !== null" [ngStyle]="{'background-color': selectedGame.color}">{{selectedGame.name}}</h2>
    <div *ngIf="selectedGame !== null" [ngStyle]="{'background-color': selectedGame.color} "class="main-filters">
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <ion-item>
              <ion-label color="light" floating>Item name</ion-label>
              <ion-input [(ngModel)]="selectedName" (ionChange)="updateResult()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-label color="light" floating>Max price</ion-label>
              <ion-input [(ngModel)]="selectedPrice" (ionChange)="updateResult()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item *ngIf="selectedGame.servers.length !== 0">
              <ion-label color="light" floating>Server(s)</ion-label>
              <ion-select [(ngModel)]="selectedServers" (ionChange)="updateResult()">
                <ion-option *ngFor="let serv of selectedGame.servers" [value]="serv">{{serv}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-label color="light" floating>Status</ion-label>
              <ion-select [(ngModel)]="selectedStatus" (ionChange)="updateResult()">
                <ion-option value="on">Online</ion-option>
                <ion-option value="off">Offline</ion-option>
                <ion-option value="both" selected>Both</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- RESULT LIST -->
  <div class="result-list" *ngIf="selectedGame !== null" [ngStyle]="{'min-height': (windowHeight - 266) + 'px'}">
    <h2 *ngIf="offersList.length === 0">No results...</h2>
    <ion-grid *ngIf="offersList.length !== 0">
      <ion-row>
        <ion-col col-4>
          <span class="header-text">Offer</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">Player</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">Status</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">Price</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">Actions</span>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let offer of offersList" class="line" (click)="displayOffer(selectedGame.id, offer.id)">
        <ion-col col-4>
          <div class="offer-icon" [ngStyle]="{'background-image' : 'url(' + offer.img + ')'}"></div>
          <span class="offer-text">{{offer.name}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="offer-text">{{offer.username}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="offer-text">Status</span>
        </ion-col>
        <ion-col col-2>
          <span class="offer-text">{{offer.price}} {{selectedGame.currency}}</span>
        </ion-col>
        <ion-col col-2>
          <button ion-button outline>
            <ion-icon name="at"></ion-icon>
          </button>
          <button ion-button outline>
            <ion-icon name="chatbubbles"></ion-icon>
          </button>
          <button ion-button outline>
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- ADD ORDER BUTTON -->
  <div *ngIf="selectedGame !== null" class="add-offer" (click)="addOffer()">
    <ion-icon name="add"></ion-icon>
    <span>Place new offer</span>
  </div>

  <footer>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-6>
            <h5>Language</h5>
            <ion-select [(ngModel)]="language">
              <ion-option value="fr">Français</ion-option>
              <ion-option value="en">English</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-6>
            <h5>Links</h5>
            <ion-row class="link">
                <ion-icon name="appstore"></ion-icon>
                <span href="#">Google play</span>
            </ion-row>
            <ion-row class="link">
                <ion-icon name="ios-appstore"></ion-icon>
                <span href="#">App-store</span>
            </ion-row>
            <ion-row class="link">
                <ion-icon name="logo-windows"></ion-icon>
                <span href="#">Windows Phone</span>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>

      </ion-col>
    </ion-row>
  </footer>
</ion-content>

