<!-------------------------->
<!--   HEADER & NAVBAR    -->
<!-------------------------->
<ion-header>
  <ion-navbar>
    <div class="sign-in" *ngIf="!usersService.isLogged" [ngStyle]="{'border-bottom-color': selectedGame ? selectedGame.color : ''}">
      <ion-icon name="log-in" (click)="login()"></ion-icon>
      <span (click)="login()">{{'home.nav.signIn' | translate}}</span>
    </div>
    <div class="sign-in" *ngIf="usersService.isLogged" [ngStyle]="{'border-bottom-color': selectedGame ? selectedGame.color : ''}">
      <span (click)="profile()">{{usersService.getName()}}</span>
      <ion-icon name="log-out" (click)="logout()"></ion-icon>
    </div>

    <ion-title>
      <a id="home-link" href="/">IGBazar</a>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="home" class="main-search" [ngStyle]="{'height': '330px'}">
    <ion-slides>

      <!-------------------------->
      <!-- MAIN HOME SEARCH BAR -->
      <!-------------------------->
      <ion-slide>
        <h1>{{'home.search.title' | translate}}</h1>
        <ion-searchbar *ngIf="gamesList" [(ngModel)]="quickSearch" (search)="search()"></ion-searchbar>
        <ion-grid *ngIf="gamesList" class="quick-search-submit">
          <ion-row>
            <ion-col>
              <button ion-button float-right scrollTo scrollTargetSelector="#quick-search" (click)="search()"
                      [ngStyle]="{'visibility': quickSearch ? 'visible' : 'hidden'}">Go !</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <!-------------------------->
      <!-- MAIN PROFILE RESUME  -->
      <!-------------------------->
      <ion-slide>
        <h1>{{'home.search.infos' | translate}}</h1>
        <ion-grid class="informations">
          <ion-row>
            <ion-col col-5>
              <ion-card>
                <ion-card-header>
                  <h4>Linoa</h4>
                </ion-card-header>
                <ion-card-content>
                  <div class="text">6 offres en vente.</div>
                  <div class="text">42 vente réalisées.</div>
                  <ion-grid>
                    <ion-row>
                      <ion-col>800 K</ion-col>
                      <ion-col>2000 PO</ion-col>
                      <ion-col>8 000 KC</ion-col>
                      <ion-col>146 PL</ion-col>
                      <ion-col>12 000 K</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-3>
              <ion-row>
                <ion-col col-12>
                  <ion-card>
                    CARD 2
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <ion-card>
                    CARD 3
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                CARD 4
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- h2>{{'home.search.or' | translate}}</h2 -->
      </ion-slide>
    </ion-slides>
  </div>

  <!-------------------------->
  <!--   MAIN GAMES LIST    -->
  <!-------------------------->
  <div class="games" [ngStyle]="{'height': (windowHeight - 430) + 'px'}">
    <h2>{{'home.search.select' | translate}}</h2>
    <ion-scroll class="game-scroll" zooming="false" scrollX="true">
      <ion-row nowrap>
        <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 class="game" *ngFor="let game of (gamesObs | async)" (click)="goToMarketGame(game)" [ngStyle]="{'background-image': 'url(' + game.logo + ')'}" scrollTo scrollTargetSelector="#filters">
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>

  <!-------------------------->
  <!--      FILTER BAR      -->
  <!-------------------------->
  <div #globalList id="quick-search" class="quick-search">
    <h2 *ngIf="quickSearch">IGBazar</h2>
    <div *ngIf="quickSearch" class="main-filters">
      <ion-grid>
        <ion-row>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-item>
              <ion-label color="light" floating>{{'home.filter.item' | translate}}</ion-label>
              <ion-input #nameInput [(ngModel)]="selectedName"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-label color="light" floating>{{'home.filter.price' | translate}}</ion-label>
              <ion-input type="number" [(ngModel)]="selectedPrice"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col offset-4 col-2>
            <ion-item>
              <ion-label color="light" stacked>{{'home.filter.status' | translate}}</ion-label>
              <ion-select [(ngModel)]="selectedStatus" (ionChange)="filterByStatus(offersGlobalList, true)">
                <ion-option value="Online">Online</ion-option>
                <ion-option value="Offline">Offline</ion-option>
                <ion-option value="">Both</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col col-3>
            <button ion-button float-left (click)="updateGlobalResult()">Refresh</button>
            <button ion-button float-right scrollTo scrollTargetSelector="#home" (click)="resetGames()">Return</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-------------------------->
  <!--  RESULT GLOBAL LIST  -->
  <!-------------------------->
  <div *ngIf="quickSearch" class="result-list" [ngStyle]="{'min-height': (windowHeight - 242) + 'px'}">
    <h2 *ngIf="quickSearch && offersGlobalFilteredList.length === 0 && !isLoading">{{'home.result.noResult' | translate}}</h2>
    <h2 *ngIf="quickSearch && offersGlobalFilteredList.length === 0 && isLoading">
      {{'home.loading' | translate}}
      <ion-spinner name="bubbles"></ion-spinner>
    </h2>
    <ion-grid *ngIf="quickSearch && offersGlobalFilteredList.length !== 0">
      <ion-row>
        <ion-col col-4>
          <span class="header-text">{{'home.result.offer' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.player' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.status' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.price' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.actions' | translate}}</span>
        </ion-col>
      </ion-row>

      <!-------------------------->
      <!-- RESULT SCROLL BLOCK  -->
      <!-------------------------->
      <ion-scroll zooming="false" scrollY="true" [ngStyle]="{'min-height': (windowHeight - 387) + 'px'}">
        <ion-row class="content-row" *ngFor="let offer of offersGlobalFilteredList"
                  [ngStyle]="{'background-color': offer.user === usersService.getUid() ? '#8659a0' : ''}">
          <div *ngIf="(selectedStatus ? offer.status === selectedStatus : true) && !offer.copyToClipboard" class="line">
            <ion-col col-4>
              <div class="offer-icon" [ngStyle]="{'background-image' : offer.img ? 'url(' + offer.img + ')' : 'url(http://www.clker.com/cliparts/i/A/s/2/q/9/purple-dollar-sign-hi.png)'}"></div>
              <span class="offer-text">{{offer.name}}</span>
            </ion-col>
            <ion-col col-2>
              <span class="offer-text">{{offer.username}}</span>
            </ion-col>
            <ion-col col-2>
              <span *ngIf="offer.status" class="offer-text">{{offer.status}}</span>
            </ion-col>
            <ion-col col-2>
              <span class="offer-text">{{offer.price}}</span>
            </ion-col>
            <ion-col col-2 text-center>
              <button ion-button color="light" (click)="setOfferCopyMode(offer, true)">
                <ion-icon name="chatbubbles"></ion-icon>
              </button>
              <button ion-button color="light" (click)="displayOffer(offer)">
                <ion-icon name="information-circle"></ion-icon>
              </button>
            </ion-col>
          </div>
          <div *ngIf="(selectedStatus ? offer.status === selectedStatus : true) && offer.copyToClipboard" class="line">
            <ion-col col-10 align-items-center>
              <ion-input class="copy-text" readonly [(ngModel)]="offer.copyWhisp"></ion-input>
            </ion-col>
            <ion-col col-2 text-center>
              <button ion-button color="light" (click)="setOfferCopyMode(offer, false)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <button ion-button color="light" (click)="displayOffer(offer)">
                <ion-icon name="information-circle"></ion-icon>
              </button>
            </ion-col>
          </div>
        </ion-row>
      </ion-scroll>
    </ion-grid>
  </div>

  <!-------------------------->
  <!--      FILTER BAR      -->
  <!-------------------------->
  <div id="filters" class="filters">
    <h2 *ngIf="selectedGame !== null" [ngStyle]="{'background-color': selectedGame.color}">{{selectedGame.name}}</h2>
    <div *ngIf="selectedGame !== null" [ngStyle]="{'background-color': selectedGame.color} "class="main-filters">
      <ion-grid>
        <ion-row align-items-baseline>
          <ion-col col-5>
            <ion-item>
              <ion-label color="light" floating>{{'home.filter.item' | translate}}</ion-label>
              <ion-input [(ngModel)]="selectedName"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-label color="light" floating>{{'home.filter.price' | translate}}</ion-label>
              <ion-input type="number" [(ngModel)]="selectedPrice"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item *ngIf="selectedGame.servers.length !== 0">
              <ion-label color="light" stacked>{{'home.filter.server' | translate}}</ion-label>
              <ion-select [(ngModel)]="selectedServers">
                <ion-option value="">{{'home.filter.all' | translate}}</ion-option>
                <ion-option *ngFor="let serv of selectedGame.servers" [value]="serv">{{serv}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-2 align-self-baseline>
            <ion-item>
              <ion-label color="light" stacked>{{'home.filter.status' | translate}}</ion-label>
              <ion-select [(ngModel)]="selectedStatus" (ionChange)="filterByStatus(offersList, false)">
                <ion-option value="Online">Online</ion-option>
                <ion-option value="Offline">Offline</ion-option>
                <ion-option value="">Both</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <button color="light" ion-button float-left (click)="updateResult()">Refresh</button>
            <button color="light" ion-button float-right scrollTo scrollTargetSelector="#home" (click)="resetGames()">Return</button>
          </ion-col>
          <ion-col col-2 offset-7>
            <button color="light" *ngIf="usersService.getUid()" float-right ion-button (click)="addOffer()">
              <span>{{'home.new.offer' | translate}}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-------------------------->
  <!--     RESULT LIST      -->
  <!-------------------------->
  <div class="result-list" [ngStyle]="{'min-height': (windowHeight - 330) + 'px'}">
    <h2 *ngIf="selectedGame !== null && offersListFiltered.length === 0  && !isLoading">{{'home.result.noResult' | translate}}</h2>
    <h2 *ngIf="selectedGame !== null && offersListFiltered.length === 0  && isLoading">
      {{'home.loading' | translate}}
      <ion-spinner name="bubbles"></ion-spinner>
    </h2>
    <ion-grid *ngIf="selectedGame !== null && offersListFiltered.length !== 0">
      <ion-row>
        <ion-col col-4>
          <span class="header-text">{{'home.result.offer' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.player' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.status' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.price' | translate}}</span>
        </ion-col>
        <ion-col col-2>
          <span class="header-text">{{'home.result.actions' | translate}}</span>
        </ion-col>
      </ion-row>

      <!-------------------------->
      <!--  RESULT SCROLL LIST  -->
      <!-------------------------->
      <ion-scroll zooming="false" scrollY="true" [ngStyle]="{'min-height': (windowHeight - 388) + 'px'}">
        <ion-row class="content-row" *ngFor="let offer of offersListFiltered"
                  [ngStyle]="{'background-color': offer.user === usersService.getUid() ? selectedGame.color : 'none'}">
          <div *ngIf="(selectedStatus ? offer.status === selectedStatus : true) && !offer.copyToClipboard" class="line">
            <ion-col col-4>
              <div class="offer-icon" [ngStyle]="{'background-image' : offer.img ? 'url(' + offer.img + ')' : 'url(' + selectedGame.placeholder + ')'}"></div>
              <span class="offer-text"
                    [ngStyle]="{'color': offer.user === usersService.getUid() ? selectedGame.colorText : ''}">
                    {{offer.name}}</span>
            </ion-col>
            <ion-col col-2>
              <span class="offer-text"
                    [ngStyle]="{'color': offer.user === usersService.getUid() ? selectedGame.colorText : ''}">
                    {{offer.username}}</span>
            </ion-col>
            <ion-col col-2>
              <span class="offer-text"
                    [ngStyle]="{'color': offer.user === usersService.getUid() ? selectedGame.colorText : ''}">
                    {{offer.status ? offer.status : ""}}</span>
            </ion-col>
            <ion-col col-2>
              <span class="offer-text"
                    [ngStyle]="{'color': offer.user === usersService.getUid() ? selectedGame.colorText : ''}">
                    {{offer.price}} {{selectedGame.currency}}</span>
            </ion-col>
            <ion-col col-2 text-center>
              <button *ngIf="offer.user === usersService.getUid()" ion-button color="light" (click)="deleteOffer(offer.id)">
                <ion-icon name="remove-circle"></ion-icon>
              </button>
              <button *ngIf="offer.user !== usersService.getUid()" ion-button color="light" (click)="setOfferCopyMode(offer, true)">
                <ion-icon name="chatbubbles"></ion-icon>
              </button>
              <button ion-button color="light" (click)="displayOffer(offer)">
                <ion-icon name="information-circle"></ion-icon>
              </button>
            </ion-col>
          </div>
          <div *ngIf="(selectedStatus ? offer.status === selectedStatus : true) && offer.copyToClipboard" class="line">
            <ion-col col-10 align-items-center>
              <ion-input class="copy-text" readonly [(ngModel)]="offer.copyWhisp"></ion-input>
            </ion-col>
            <ion-col col-2 text-center>
              <button ion-button color="light" (click)="setOfferCopyMode(offer, false)">
                <ion-icon name="remove"></ion-icon>
              </button>
              <button ion-button color="light" (click)="displayOffer(offer)">
                <ion-icon name="information-circle"></ion-icon>
              </button>
            </ion-col>
          </div>
        </ion-row>
      </ion-scroll>
    </ion-grid>
  </div>

</ion-content>

<!-------------------------->
<!--        FOOTER        -->
<!-------------------------->
<ion-footer>
  <ion-row align-items-center>
    <ion-col col-4 align-items-center>
      <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
        <ion-option value="fr">Français</ion-option>
        <ion-option value="en">English</ion-option>
      </ion-select>
    </ion-col>

    <ion-col col-2 class="links" align-items-center>
      <ion-icon name="appstore"></ion-icon>
    </ion-col>
    <ion-col col-2 class="links" align-items-center>
      <ion-icon name="ios-appstore"></ion-icon>
    </ion-col>


    <!-- ion-col col-3 offset-1 align-items-center>
      <button ion-button (click)="resetData()">TestData Create</button>
    </ion-col -->
  </ion-row>
</ion-footer>
